/* Custom scrollbar style for the entire page */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #636363;
}

/* Styling the DB table container */
.db-table-container {
  overflow-y: auto;
}

/* Chat Box Custom Scrollbar */
#chat-box::-webkit-scrollbar {
  width: 8px;
}

#chat-box::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 10px;
}

#chat-box::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border-radius: 10px;
}

#chat-box::-webkit-scrollbar-thumb:hover {
  background: #636363;
}